.Section {
	min-height: 100vh;
	width: 100%;
}

.Container {
	@media only screen and (max-width: 37.5rem) {
		padding: 4.8rem 0;
	}
}

.Heading {
	text-align: center;
}

.Choose {
	display: flex;
	align-items: center;
	gap: 3rem;
	@media only screen and (max-width: 68.75rem) {
		flex-direction: column;
		gap: 4rem;
	}
}
.Card {
	border: none;
	background-color: transparent;
	background-size: cover;
	background-repeat: no-repeat;
	width: calc(100% / 3);
	height: 80vh;
	position: relative;
	overflow: hidden;
	cursor: pointer;

	@media only screen and (max-width: 68.75rem) {
		width: 100%;
		height: 30vh;
		aspect-ratio: 16/9;
		padding: 2rem 0;
	}

	& > img {
		transition: all 0.3s;
	}
	& > img {
		transform: scale(1.2);
	}

	.Overlay {
		background-color: rgba(0, 0, 0, 0.5);
	}

	.Title {
		top: 50%;
		transform: translate(-50%, -50%);
		& > span {
			display: block;
		}
	}
	@media (hover: hover) and (pointer: fine) {
		&:hover {
			& > div {
				outline: 6px solid var(--color-primary);
			}
			// 	& > img {
			// 		transform: scale(1.2);
			// 	}

			// 	.Overlay {
			// 		background-color: rgba(0, 0, 0, 0.5);
			// 	}

			// 	.Title {
			// 		top: 50%;
			// 		transform: translate(-50%, -50%);
			// 	}
			// }
		}
	}
}

.CardWrapper {
	position: relative;
	width: 100%;
	height: 90%;
}

.Head {
	margin-top: 1.5rem;
	font-size: 3.2rem;
	line-height: 1.1;
	text-align: center;
	font-weight: 800;
	text-transform: uppercase;
	color: var(--color-primary);
}

.Title {
	position: absolute;
	top: -100%;
	left: 50%;
	z-index: 2;
	transform: translate(-50%, 0);
	font-size: 3.2rem;
	line-height: 1.1;
	text-align: center;
	font-weight: 800;
	text-transform: uppercase;
	color: #fff;
	transition: all 0.3s;
}

.Overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	z-index: 1;
	transition: all 0.3s;
}

.SubmitContainer {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 8rem;
}

.Submit {
	width: 60%;
	font-size: 2.4rem;
	font-weight: 500;
	cursor: pointer;
}
