.Constructor {
	scroll-margin-top: 20px;
}

.DesignMain {
	display: grid;
	grid-template-columns: 65% 35%;
	position: relative;
	height: 100%;
	min-height: 100vh;
	@media only screen and (max-width: 56.25rem) {
		display: flex;
		flex-direction: column;
	}
}

.DesignObject {
	height: 100%;
	position: relative;
	transition: all 0.3s;
	@media only screen and (max-width: 37.5rem) {
		height: auto;
	}
}

.DesignObjectImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.DesignAside {
	padding: 0 1rem;
	overflow: hidden;
	transition: all 0.3s;
	@media only screen and (max-width: 56.25rem) {
		display: flex;
		gap: 2rem;
		padding: 2rem;
	}
}

.DisignAsideWrapper {
	@media only screen and (max-width: 56.25rem) {
		display: flex;
		flex-direction: column-reverse;
		flex: 1;
	}
	@media only screen and (max-width: 37.5rem) {
		display: flex;
		flex-direction: column-reverse;
		flex: unset;
	}
}

.DesignVariant {
	cursor: zoom-in;
}

.DesignPanel {
	background-color: #fff;
	width: 90%;
	margin: 0 auto;
	padding: 1rem 3rem 3rem 3rem;
	-webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	position: relative;
	bottom: 6rem;
	grid-column: 1 / end;

	transition: all 0.3s;
	@media only screen and (max-width: 56.25rem) {
		bottom: 0;
		width: 100%;
	}
}
.design__panel--shrink {
	bottom: 0%;
}

.DesignPanelWrapper {
	display: grid;
	// grid-template-columns: repeat(10, 1fr);
	grid-template-columns: repeat(auto-fill, 70px);
	gap: 2rem;

	@media only screen and (max-width: 56.25rem) {
		display: flex;
		flex-wrap: wrap;
	}
	// @media only screen and (max-width: 41.25rem) {
	// 	grid-template-columns: repeat(6, 1fr);
	// }
	// @media only screen and (max-width: 35.75rem) {
	// 	grid-template-columns: repeat(5, 1fr);
	// }

	// @media only screen and (max-width: 29.9375rem) {
	// 	grid-template-columns: repeat(4, 1fr);
	// }
}

.design__panel h2 {
	margin-bottom: 1rem;
}
.DesignVariant {
	width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio: 16/9;
}
.DesignTitle {
	font-size: 3.2rem;
	font-weight: 400;
	text-align: center;
	color: var(--color-primary);
}

.PanelHeading {
	font-size: 3.2rem;
	font-weight: 500;
	color: var(--color-primary);
	margin-bottom: 1rem;
}
.DesignPallete {
	width: 70px;
	height: 50px;
	outline: 0px solid var(--color-primary);
	transition: all 0.1s;
}

.DesignActive {
	outline: 3px solid var(--color-primary);
}

.DesignName {
	font-size: 1.4rem;
	font-weight: 500;
	color: #000;
	text-align: center;
}

.FiltersWrapperPhone {
	display: none;
	@media only screen and (max-width: 37.5rem) {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		margin-bottom: 2rem;
	}
}

.FiltersWrapper {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin-bottom: 2rem;
	@media only screen and (max-width: 37.5rem) {
		display: none;
	}
}

.Filter {
	border: none;
	background-color: #000;
	color: #fff;
	padding: 2rem 8rem;
	font-size: 2.4rem;
	font-weight: 500;
	transition: all 0.3s;
	cursor: pointer;
	&:hover {
		background-color: var(--color-primary);
	}
}

.FilterActive {
	background-color: var(--color-primary);
}
