.Modal {
	width: 35vh;
}

.Wrapper {
	width: 100%;
	position: relative;
	z-index: 30;
	background-size: cover;
	background-position: right center;
	border-radius: 8px;
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4rem;
	transition: all 0.4s;
	border-radius: 24px;
}

.Communicate__item {
	display: flex;
	align-items: center;
	gap: 1.5rem;
	font-size: 1.8rem;
	font-weight: 500;
}

.Icon {
	height: 42px;
	width: 42px;
}
