.Section {
	background-color: #000;
	padding: 9.6rem 0;
}

.Heading {
	position: absolute;
	top: 0;
	left: 7rem;
}

.Carousel {
	position: relative;
	height: 400vh;
	@media only screen and (max-width: 37.5rem) {
		height: 480vh;
	}
}

.CarouselWrapper {
	display: flex;
	overflow: hidden;
	position: sticky;
	top: 0;
	align-items: center;
	height: 100vh;
}

.Container {
	margin-top: 8rem;
	display: flex;
	gap: 8rem;
	padding: 44px 20px 100px;
	// transition: all 0.3s;
	height: 100%;
}
.FirstObject {
	margin-left: 20rem;
}

.Object {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	height: 100%;
	width: 50vw;
	@media only screen and (max-width: 37.5rem) {
		width: 80vw;
	}
}

.ObjectImageContainer {
	width: 100%;
	height: 90%;
	aspect-ratio: 16/9;
	border-radius: 12px;
}

.ObjectImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 12px;
}

.ObjectInfoWrapper {
	margin-top: 2rem;
	padding-left: 2rem;
	// display: grid;
	// position: absolute;
	// top: 0;
	// right: 0;
	// bottom: 0;
	// left: 0;
	// z-index: 10;
	// place-content: center;
}

.ObjectTitle {
	font-size: 2.4rem;
	font-weight: 500;
	line-height: 1;
	color: #ffffff;
	margin-bottom: 1.5rem;
}

.ObjectDescription {
	font-size: 2rem;
	color: #fff;
}
